.slider {
  margin-top: 60px;
  position: relative;
  border-radius: 30px;
  height: 415px;
  overflow: hidden;

  .slide-container {
    width: 100%;
    height: 100%;

    img {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &.active {
        display: block;
      }
    }
  }
}

.slide-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 24px;
  }
  
  .slider button {
    position: absolute;
    top: 50%;
    padding: 2px 30px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
  
    &.prev {
      left: 10px;
    }
  
    &.next {
      right: 10px;
    }
  }
  
  .article-info {
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
  
    &-location{
      margin-top: -15px;
    } 
  
    h1 {
      color: #FF6060;
      font-weight: 500;
      font-size: 34px;
    }
  
    p {
      font-size: 24px;
      color: #FF6060;
    }
  }
  
  .tags {
    display: flex;
  
    .tag {
      margin-right: 20px;
      background-color: #FF6060;
      color: white;
      padding: 10px 30px;
      font-size: 20px;
      border-radius: 20px;
    }
  }
  
  .host-info {
    display: flex;
    align-items: center;
  
    img {
      height: 100px;
      border-radius: 50%;
    }
  
    p {
      font-weight: 500;
      margin-right: 20px;
      font-size: 24px;
    }
  }
  
  .star {
    font-size: 30px;
    color: #E3E3E3;
  }
  
  .rating {
    padding-top: 180px;
    position: absolute;
    right: 0;
  }
  
  .red {
    color: #FF6060;
  }
  
  .article-button {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 50px;
  
    .collapse {
      flex: 1;
  
      .collapse-header {
        padding: 2px 20px;
      }
  
      .collapse-content {
        border-radius: 20px;
        overflow-y: scroll;
        height: 250px;
  
        p {
          font-size: 26px;
        }
      }
    }
  }