.banner-container {
    position: relative;
    width: 100%;
    height: 223px;
    margin-top: 50px;
  
    .banner {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0px 53%;
      border-radius: 30px;
  
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.308);
        border-radius: 30px;
      }
    }
  
    .banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
  
      h1 {
        font-weight: 400;
        font-size: 50px;
      }
    }
  }