/*VERSION TABLETTE*/

@media (max-width: 1024px) {

    header {
        ul {
            width: 250px;
        }
        a {
            font-size: 26px;
        }

        .header-logo {
            height: 40px;
        }
    }

    .banner-container {
        height: 150px;
        margin-top: 30px;

        .banner {
            border-radius: 20px;
        }
        .banner-text {
            h1 {
                font-size: 34px;
            }
        }
    }
  
    .article-container {
      flex: 0 0 calc(50% - 30px); /* 50% avec un espace de 20px entre les articles */
      margin-bottom: 50px; /* Espace entre les articles */
      height: 240px;

      h2 {
        font-size: 20px; /* Ajustez la taille de la police selon vos besoins */
        margin: 10px
      }
    }  
  }



  @media (max-width: 767px) {

    body {
        padding: 20px;
    }

    header {
        ul {
            width: 145px;
        }
        a {
            font-size: 16px;
        }

        .header-logo{
            height: 30px;
        }
    }

    .Error {
        margin-top: -50px;
        .Error-Title {
            font-size: 150px;
        }

        .Error-Subtitle {
            font-size: 20px;
            margin-top: 100px;
        }

        .Error-Link {
            font-size: 18px;  
        }
    }


    .banner-container {
        height: 80px;

        .banner {
            border-radius: 10px;
        }

        .banner-text {
            text-align: left;
            top: 0
            50%;
            left: 35%;
            h1 {
                font-size: 18px;
            }
        }
    }

    .articles {
        background-color: white;
        padding: 0;
    }

    .article-container {
        height: 255px;
        flex-basis: 100%; 
        margin-bottom: 30px;
        border-radius: 7px;
    }

    .slider {
        height: 220px;
        border-radius: 10px;
    }

    .slide-counter {
        font-size: 16px;
    }

    .slider button {
        padding: 2px 10px;
        font-size: 30px;
    }

    .article-info {
        flex-direction: column;
        align-items: baseline;

        padding-top: 10px;

        h1 {
            font-size: 24px;
        }
        p {
            font-size: 16px;
        }
    }

    .tags {
        flex-wrap: wrap;
        .tag {
            border-radius: 10px;
            padding: 7px 10px;
            margin-bottom: 10px;
            font-size: 12px;
        }
    }

    .host-info {
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;

        img {
            height: 50px;
        }
    }


    .star {
        margin-right: 2px;
        font-size: 16px;
    }

    .rating {
        margin-left: 0;
        margin-top: 0;
    }

    .article-button {
        flex-direction: column;
        gap: 0;

        .collapse {
            
            .collapse-header {
                padding: 0 20px;
                font-size: 16px;

            }
            .collapse-content {

                p{
                    font-size: 20px;
                }
            }
        }

        
    }

    .collapse-header {
        padding: 0 20px;
        font-size: 18px;
    }

    .collapse-content {
        font-size: 16px;
    }

    footer {
        img {
            height: 30px;
        }

        p {
            font-size: 20px;
            margin: 5px 100px;
        }
    }


  }
  