body {
    font-family: 'Montserrat';
    padding: 30px 200px;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width:300px;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: #FF6060;
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}

.header-logo {
    height: 60px;
}

.banner-container {
    position: relative;
    width: 100%;
    height:300px;
    margin-top: 50px;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0px 53%;
    border-radius: 30px;
}

.banner-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.308);
    border-radius: 30px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-text h1 {
    font-weight: 400;
    font-size: 50px;
}

.articles {
    margin-top: 100px;
    padding: 50px;
    border-radius: 40px;
    background-color: #F6F6F6;;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    position: relative;
    flex: 0 0 calc(33.33% - 20px); 
    height: 400px;
    border-radius: 20px;
    background-size: cover;
  background-position: center;
    margin-bottom: 20px;
    box-sizing: border-box; 
}

article:hover {
    cursor: pointer;
}

.article-container {
    position: relative;
    flex: 0 0 calc(33.33% - 70px); 
    height: 500px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
    box-sizing: border-box;
    overflow: hidden; /* Masque le débordement du pseudo-élément ::after */
    position: relative;
}

.article-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.829) 100%);
}

.article-container h2 {
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    width: 300px;
    bottom: 10px;
    left: 0;
    margin: 20px; 
    color: white;
    z-index: 1;
  }



  footer {
    background-color: black;
    text-align: center;
    margin-top: 30px;
    padding: 40px 0px;
    width: 100%
}


footer img {
    height: 60px;
    filter: brightness(0) invert(1);
}

footer p {
    color: white;
    font-size: 30px;
}



/*Partie à propos*/

.about-button {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.about-button button {
    width: 100%;
    padding-bottom: 30px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #FF6060;
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
    background-color: #F6F6F6;
    font-size: 24px;
    margin-bottom: 30px;
    color: #FF6060;
}

.block p {
    margin: 20px;
}

.block.open {
    max-height: 1000px;
  }

.fa-chevron-up {
    cursor: pointer;
}

.fa-chevron-up.rotate {
    transition: transform 0.3s ease; 
    transform: rotate(-180deg);
  }

  .fa-chevron-up.reverse {
    transition: transform 0.3s ease; /* Transition lorsqu'il revient à l'état initial */
    transform: rotate(0deg);
  }



  .slider {
    margin-top: 60px;
    position: relative;
    border-radius: 30px;
    height: 700px;
    overflow: hidden;
  }
  
  .slider img {
    display: none;
    width: 100%;
  height: 100%;
  object-fit: cover;
  }
  
  .slider img.active {
    display: block;
  }
  
  .slider button {
    position: absolute;
    top: 50%;
    color: rgb(0, 0, 0);
    transform: translateY(-50%);
    font-size: 80px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }


  .article-info {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .article-info h1 {
    color: #FF6060;
    font-weight: 500;
    font-size: 40px;
  }

  .article-info p {
    font-size: 20px;
    color: #FF6060; 
  }

  .tags {
    display: flex;
  }

  .tag {
    margin-right: 20px;
    background-color: #FF6060;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 20px;
  }

  .host-info {
    display: flex;
    align-items: center;
  }

  .host-info img {
    height: 100px;
    border-radius: 50%;
  }

  .host-info p {
    font-weight: 500;
    margin-right: 20px;
    font-size: 20px;
  }

  .star {
    font-size: 40px;
    color: #E3E3E3;
  }

  .red {
    color: #FF6060;
  }